mlpipe/stacks/aimodels/landfill/yolo/training/orchestration.json
{
    "Comment": "State machine to launch a SageMaker training job",
    "StartAt": "StartTrainingJob",
    "States": {
        "StartTrainingJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
            "Parameters": {
                "TrainingJobName.$": "$.TrainingJobName",
                "AlgorithmSpecification": {
                    "TrainingImage": "${training_image}",
                    "TrainingInputMode": "File"
                },
                "RoleArn": "${sagemaker_role_arn}",
                "VpcConfig": {
                    "SecurityGroupIds": [
                        "${security_group_id}"
                    ],
                    "Subnets": [
                        "${subnet}"
                    ]
                },
                "InputDataConfig": [
                    {
                        "ChannelName": "training",
                        "DataSource": {
                            "FileSystemDataSource": {
                                "FileSystemId": "${efs_filesystem_id}",
                                "FileSystemAccessMode": "ro",
                                "FileSystemType": "EFS",
                                "DirectoryPath": "${dataset_efs_path}"
                            }
                        }
                    }
                ],
                "OutputDataConfig": {
                    "S3OutputPath": "${s3_output_folder_uri}"
                },
                "ResourceConfig": {
                    "InstanceType": "${training_instance_type}",
                    "InstanceCount": 1,
                    "VolumeSizeInGB": 100
                },
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 86400
                }
            },
            "Next": "CheckStatus"
        },
        "CheckStatus": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.TrainingJobStatus",
                    "StringEquals": "Completed",
                    "Next": "Success"
                },
                {
                    "Variable": "$.TrainingJobStatus",
                    "StringEquals": "Failed",
                    "Next": "Fail"
                }
            ],
            "Default": "WaitForCompletion"
        },
        "WaitForCompletion": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "CheckStatus"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail",
            "Error": "TrainingJobFailed",
            "Cause": "The training job failed."
        }
    }
}