mlpipe/stacks/aimodels/landfill/yolo/training/orchestration.json
{
    "Comment": "State machine to launch a SageMaker training job",
    "StartAt": "StartTrainingJob",
    "States": {
        "StartTrainingJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
            "Parameters": {
                "TrainingJobName.$": "$.TrainingJobName",
                "AlgorithmSpecification": {
                    "TrainingImage": "your-docker-image-uri",
                    "TrainingInputMode": "File"
                },
                "RoleArn": "${sagemaker-training-role-arn}",
                "InputDataConfig": [
                    {
                        "ChannelName": "training",
                        "DataSource": {
                            "FileSystemDataSource": {
                                "FileSystemId": "${efs-filesystem-id}",
                                "FileSystemAccessMode": "ro",
                                "DirectoryPath": "${efs-mounth-path}"
                            }
                        },
                        "ContentType": "application/x-image",
                        "InputMode": "File"
                    }
                ],
                "OutputDataConfig": {
                    "S3OutputPath": "${s3-output-folder-uri}"
                },
                "ResourceConfig": {
                    "InstanceType": "${training-instance-type}",
                    "InstanceCount": 1,
                    "VolumeSizeInGB": 100
                },
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 86400
                }
            },
            "Next": "CheckStatus"
        },
        "CheckStatus": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.TrainingJobStatus",
                    "StringEquals": "Completed",
                    "Next": "Success"
                },
                {
                    "Variable": "$.TrainingJobStatus",
                    "StringEquals": "Failed",
                    "Next": "Fail"
                }
            ],
            "Default": "WaitForCompletion"
        },
        "WaitForCompletion": {
            "Type": "Wait",
            "Seconds": 300,
            "Next": "CheckStatus"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail",
            "Error": "TrainingJobFailed",
            "Cause": "The training job failed."
        }
    }
}